@charset "utf-8";
/* CSS Document */

@font-face {
 font-family: "Arial";
 font-style: normal;
 font-weight: normal;
}


body {
						background-color: #fff;
						font-family:"Arial";
}


#writtencontent {
						max-width: 600px;
						font-family: "Arial";
						position: relative;
						
						
}

#writtencontent h1 {
						color: #000;
						font-family: "Arial";
						font-size: 16px;
}


#writtencontent h2 {
						color: #000;
						font-family: "Arial";
						font-size: 12px;
}

#writtencontent h3 {
						color: #000;
						font-family: "Arial";
						font-size: 1.0em;
						
}
